@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-bg-img {
  background: url(../../public/images/bg-gallaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(0, 0, 0, 0.6);
  /* overflow: hidden; */
}

body.__className_e66fe9 {
  background-color: black;
}

.spinner-border {
  color: aqua;
}

::-webkit-scrollbar {
  display: none;
}

button.btn.btn-danger {
  background-color: #dc3545 !important;
}

button.btn.btn-dark {
  background-color: #000000 !important;
}

button.btn-close {
  display: none;
}

.modal-content {
  background: linear-gradient(45deg, #38193b66, #512749d9) !important;
}

.text-\[\#fff\].modal-title.h4 {
  color: #fff !important;
}

.spinner-border {
  display: inline-block !important;
  width: 50px !important;
  color: #000000 !important;
  position: fixed !important;
  top: 50% !important;
  height: 50px !important;
  left: 50% !important;
  vertical-align: -0.125em !important;
  background-color: currentColor !important;
  border-radius: 50% !important;
  -webkit-animation: .75s linear infinite spinner-grow !important;
  animation: .75s linear infinite spinner-grow !important;
}

button.btn.btn-light.text-dark {
  background-color: white !important;
}